body {font-family: Arial, Helvetica, sans-serif;}
.login_form,.register_form {border: 3px solid #f1f1f1;width:40%;
    margin:auto;position: relative;top:20vh;}
.manufactuer_form {border: 3px solid #f1f1f1;width:60%;
    margin:auto;position: relative;top:5vh;}
input[type=text], input[type=password], select,textarea, input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.w3-container {
    padding: 16px;
}
