<div class="w3-display-container">
    <div class="w3-row w3-padding">
        <span class="w3-right"><a href="" ng-click="logout()">Logout</a></span>
    </div>
    <div class="w3-content">
        <h1>Welcome to Dashboard</h1>
        <div class="w3-row w3-padding">
            <span class="w3-left"><a href="" ng-click="manufacturer()">Manufacturer</a></span>
        </div>
        <div class="w3-row w3-padding">
            <span class="w3-left"><a href="" ng-click="vendor()">Vendor</a></span>
        </div>
        <div class="w3-row w3-padding">
            <span class="w3-left"><a href="" ng-click="dsCentre()">DS Centre</a></span>
        </div>
        <div class="w3-row w3-padding">
            <span class="w3-left"><a href="" ng-click="store()">Store</a></span>
        </div>

    </div>
</div>