<div class="w3-display-container">
    <div class="w3-content">
        <form action="" class="login_form">
            <div class="w3-container">
                <label for="uname"><b>Username</b></label>
                <input type="text" ng-model="form.username" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" ng-model="form.password" placeholder="Enter Password" name="psw" required>
                <label for="type"><b>Select Type</b></label>
                <select name="type" ng-model="form.type">
                    <option value="">Select</option>
                    <option value="Manufacturer">Manufacturer</option>
                    <option value="Vendor">Vendor</option>
                    <option value="Distributor">Distributor</option>
                    <option value="Retailer">Retailer</option>
                </select>

            </div>

            <div class="w3-container w3-center" style="background-color:#f1f1f1;">
                <button type="submit" ng-click="login()">Login</button>
                <p>Forgot <a href="#">password?</a></p>
                <p>Not registered? <a href="" ng-click="register()">Register</a></p>
            </div>
        </form>
    </div>
</div>
